/* Variables de couleurs pour les thèmes */
:root {
    --background-color: #242424;
    --text-color: #ffffff;
    --accent-color: #ff4655;
    --sidebar-bg: #181C14;
    --card-bg: #333;
    --skill-html: #ff4655;
    --skill-css: #ff8a65;
    --skill-js: #ffd54f;
    --contact-bg: #fe908b;
    --contact-hover: #ff607d;
    --shadow-color1: #ff7e75;
    --shadow-color2: #ffffff;
    --particle-color-1-dark: #ff4655;
    --particle-color-2-dark: #ff7e75;
    --particle-color-3-dark: #ffe4e6;
    --particle-color-4-dark: #ffbaba;
    --particle-color-5-dark: #ff4d4f;
    --shadow: rgba(255, 255, 255, 0.3);
}
.light-theme {
    --background-color: #f5f5f5;
    --text-color: #333333;
    --accent-color: #28a745;
    --sidebar-bg: #e0e0e0;
    --card-bg: #ffffff;
    --skill-html: #4CAF50;
    --skill-css: #66BB6A;
    --skill-js: #81C784;
    --contact-bg: #cae1d1;
    --contact-hover: #56fc7c;
    --shadow-color1: #66BB6A;
    --shadow-color2: #96d699;
    --particle-color-1-light: #28a745; 
    --particle-color-2-light: #ff6f61;
    --particle-color-3-light: #ffb3b3;
    --particle-color-4-light: #ffcccb;  
    --particle-color-5-light: #ff7070; 
    --shadow: rgba(0, 0, 0, 0.3)
}

/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Itim, Arial, sans-serif;
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    padding: 10px;
    border-radius: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sidebar-bg);
    box-shadow: 0px -10px  15px 5px var(--shadow), 0px 10px 15px 5px var(--shadow), 10px 0px 15px 5px var(--shadow)
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
    text-align: center;
}

.sidebar ul li a {
    color: var(--text-color);
    font-size: 1.2em;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
    color: var(--accent-color);
    cursor: pointer;
}

/* Bouton de changement de thème */
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.theme-toggle button {
    background: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 10px;
}

.theme-toggle button:hover {
    background: var(--text-color);
    color: var(--accent-color);
}

/* Sections principales */
.main-content {
    margin-left: 80px;
    padding: 20px;
}

.accueil-heading {
    display: flex;
    font-size: 10em !important;
    color: var(--accent-color);
    text-shadow: 8px 8px 5px var(--shadow-color1), 16px 16px 5px var(--shadow-color2); 
}

.header-h3{
    font-size: 2em;
    animation: zoomIn 1.5s ease-in-out forwards;
}

.section {
    min-height: 100vh; /* Utiliser min-height au lieu de height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; /* Ajout d'un padding horizontal pour un meilleur espacement */
    margin-bottom: 20px; /* Ajout d'une marge inférieure pour séparer les sections */
}

.section h1, .section h2 {
    color: var(--accent-color);
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
}

.section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: var(--text-color);
    text-align: center;
    max-width: 800px;
}

/* Grille de projets */
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.2em;
}

/* Carte de projet agrandie */
.project-card {
    position: relative;
    width: 60%;
    height: 700px;
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 3px solid var(--accent-color);
}

.project-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    border: none;
    opacity: 0;
    z-index: 99;
    transition: opacity 0.5s ease;
    margin-top: 60px;
}

.project-card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 1.2em;
}

.project-card .external-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 1em;
    text-align: center;
    line-height: 30px;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content h3{
    padding-bottom: 50px;
}

.project-card:hover .content {
    opacity: 0;
}

.project-card:hover .project-iframe {
    opacity: 1;
}

/* Style pour le bouton de visite */
.visit-button {
    position: absolute;
    top: 10px;
    left: 44%;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.visit-button:hover {
    background-color: var(--text-color);
    color: var(--accent-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.visit-button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}


/* Compétences */
.skills {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}

.skills h2{
    margin-bottom: 20%;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 20rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-box:hover .skill-image{
    transform: translateY(-10px);
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--accent-color);
    transition: .5s;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: var(--accent-color);
    transition: .5s;
}

.skill-title h3{
    color: var(--text-color);
    margin-top: 0.5rem;
}

.skill-image{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skill-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-icon{
    width: 50px;
    z-index: 2;
}

.hidden {
    display: none;
}

#toggle-certification {
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    margin-bottom: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#toggle-certification:hover {
    background-color: var(--text-color);
    color: var(--accent-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#toggle-certification:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}


/* Section Contact */
#contact {
    padding: 40px;
    color: var(--text-color);
    text-align: center;
}

/* En-tête de la section contact */
#contact h2 {
    font-size: 2em;
    color: var(--accent-color);
    margin-bottom: 10px;
}

#contact p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: var(--text-color);
}

/* Formulaire de Contact */
.contact-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-form label {
    font-size: 1em;
    color: var(--text-color);
    display: block;
    text-align: left;
}

.input-container {
    position: relative;
    width: 100%;
}

.fa-user-circle, .fa-at{
    position: absolute;
    left: 10px;
    top: 37%;
    transform: translateY(-50%);
    color: var(--text-color);
}

.fa-paper-plane{    
    position: absolute;
    top: 27%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--text-color);
}

.contact-form input,
.contact-form textarea {
    background-color: var(--contact-bg);
    color: var(--text-color);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    width: 100%;
    max-width: 600px;
    font-size: 1em;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
    margin-bottom: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--accent-color);
    box-shadow: 0px 0px 5px var(--text-color);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--text-color);
    opacity: 0.7;
}

/* Bouton Envoyer */
.contact-form button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    max-width: 600px;
}

.contact-form button:hover {
    background-color: var(--contact-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/*Footer*/
footer {
    background-color: var(--sidebar-bg);
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--shadow-color1);
    color: var(--text-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-content p {
    font-size: 0.9em;
    color: var(--text-color);
}

.social-links a {
    color: var(--text-color);
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--accent-color);
}


@media screen and (max-width: 990px) {
    .skill-container{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px
    }
}

@media screen and (max-width: 650px) {
    .skill-container{
        grid-template-columns: 1fr;
        padding: 2rem 50px
    }
}